<div class="field-group">
  <span class="field-label">{{ 'edit_meta.trigger_words' | translate }}</span>
  <div class="chips">
    @for (w of triggerWords(); track w) {
      <span class="chip"
        >{{ w
        }}<button
          type="button"
          [attr.aria-label]="'edit_meta.remove_trigger_word' | translate: { word: w }"
          (click)="removeTriggerWord(w)"
        >
          ×
        </button></span
      >
    }
  </div>
  <div class="add-row">
    <input
      [(ngModel)]="newTriggerWord"
      [placeholder]="'edit_meta.add_trigger_word_placeholder' | translate"
      [attr.aria-label]="'edit_meta.add_trigger_word_placeholder' | translate"
      (keyup.enter)="addTriggerWord()"
    />
    <button type="button" class="btn small" (click)="addTriggerWord()">
      {{ 'edit_meta.add' | translate }}
    </button>
  </div>
</div>

<div class="field-group">
  <span class="field-label">{{ 'edit_meta.tags' | translate }}</span>
  <div class="chips">
    @for (t of tags(); track t) {
      <span class="chip chip-tag"
        >{{ t
        }}<button
          type="button"
          [attr.aria-label]="'edit_meta.remove_tag' | translate: { tag: t }"
          (click)="removeTag(t)"
        >
          ×
        </button></span
      >
    }
  </div>
  <div class="add-row">
    <input
      [(ngModel)]="newTag"
      [placeholder]="'edit_meta.add_tag_placeholder' | translate"
      [attr.aria-label]="'edit_meta.add_tag_placeholder' | translate"
      (keyup.enter)="addTag()"
    />
    <button type="button" class="btn small" (click)="addTag()">
      {{ 'edit_meta.add' | translate }}
    </button>
  </div>
</div>

<ng-content />

<div class="edit-actions">
  <button type="button" class="btn primary" (click)="saveClicked.emit()" [disabled]="saving()">
    {{ saving() ? ('edit_meta.saving' | translate) : ('edit_meta.save' | translate) }}
  </button>
  <button type="button" class="btn ghost" (click)="cancelClicked.emit()">
    {{ 'edit_meta.cancel' | translate }}
  </button>
  <button type="button" class="btn ghost" (click)="refetchClicked.emit()" [disabled]="refetching()">
    {{ refetching() ? ('edit_meta.refetching' | translate) : ('edit_meta.refetch' | translate) }}
  </button>
</div>
